<main class="container">
  <div class="content">
    <h2 class="heading">Zaloguj się</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="">
      <div class="form">
        <div class="input">
          <label for="email">E-mail:</label>
          <input
            id="email"
            type="email"
            placeholder="jan.kowalski@mail.com"
            formControlName="email"
            autocomplete="email"
            [attr.aria-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
            [attr.aria-describedby]="
              form.get('email')?.invalid && form.get('email')?.touched ? 'email-error' : null
            "
          />

          @if (form.get('email')?.touched && form.get('email')?.invalid) {
          <div id="email-error" role="alert">
            @if (form.get('email')?.errors?.['required']) {
            <small>E-mail jest wymagany.</small>
            } @else if (form.get('email')?.errors?.['email']) {
            <small>Nieprawidłowy format adresu e-mail.</small>
            }
          </div>
          }
        </div>
        <div class="input">
          <label for="password">Hasło:</label>
          <input
            id="password"
            type="password"
            placeholder="twoje-haslo"
            formControlName="password"
            autocomplete="current-password"
            [attr.aria-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
            [attr.aria-describedby]="
              form.get('password')?.invalid && form.get('password')?.touched
                ? 'password-error'
                : null
            "
          />

          @if (form.get('password')?.touched && form.get('password')?.invalid) {
          <div id="password-error" role="alert">
            @if (form.get('password')?.errors?.['required']) {
            <small>Hasło jest wymagane.</small>
            } @else if (form.get('password')?.errors?.['minlength']) {
            <small>Hasło jest za krótkie.</small>
            }
          </div>
          }
        </div>

        @if (errorMessage()) {
        <div role="alert">
          <small style="color: red">{{ errorMessage() }}</small>
        </div>
        }
      </div>
      <button type="submit" [disabled]="isSubmitting()" aria-live="polite" class="button">
        @if (isSubmitting()) {
        <span aria-hidden="true">⏳</span>
        <span>Poczekaj…</span>
        } @else {
        <span>Zaloguj</span>
        }
      </button>
    </form>
  </div>
</main>
