:root {
  --primaryColor: #9f1e7052;
  --secondaryColor: #f9f9f9;
  --borderColor: #ccc;
  --alertColor: #b00020;
  --defaultGray: #666;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  background: var(--primaryColor);
}
